<%- include('../partials/header', {title: server.name}) -%>
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="<%= bot.guilds.cache.get(server.id).iconURL() %>" alt="">
  <h1 class="display-5 fw-bold"><%= server.name %> (<%= server.id %>)</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><%= server.description %></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" href="https://discord.gg/<%= server.code %>" target="_blank">Rejoindre</a>
      <form action="/like/<%= server.id %>" method="post">
        <button type="submit" class="btn btn-success">J'aime</button>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>